body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4CAF50;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

section {
    max-width: 900px;
    margin: 120px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 28px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-row input {
    width: 48%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #888; /* Cinza */
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    width: 30%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}