{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'Index/css/css.css' %}" />
  </head>

  <body>
    <nav>
      <!-- Links do menu alinhados à esquerda -->
      <div>
        <a href="{% url 'sobre_projeto' %}">Sobre</a>
        <a href="{% url 'cadastro_crianca' %}">Cadastrar</a>
      </div>
      <!-- Link de login alinhado à direita -->
      <a href="{% url 'login' %}">Login</a>
    </nav>

    <section>
      <h1>Bem-vindo à Página Principal!</h1>
      <p>Esta é a página inicial do site. Aqui você pode explorar mais sobre o projeto, cadastrar novas crianças e acessar a área de login.</p>
    </section>
  </body>
</html>

