{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <link rel="icon" href="{% static 'Index/img/Logo girassol.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'Index/css/css.css' %}" /> </head>
<body>
    <div class="container">
        <h1>Logout Realizado</h1>
        <p>Você foi desconectado com sucesso.</p>
        <p><a href="{% url 'login' %}">Fazer login novamente</a></p>
        <p><a href="{% url 'minha_pagina' %}">Voltar para a página inicial</a></p>
    </div>
</body>
</html>